@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:regular,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 700;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Red Hat Text';
  background: url(../images/bg-stars.svg) center center no-repeat #1e1f29;
}

@media screen and (min-width: 800px) {
  body {
    background: url(../images/bg-stars.svg) center center/100% no-repeat #1e1f29;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: bottom center url(../images/pattern-hills.svg) no-repeat;
}

@media screen and (min-width: 1440px) {
  .container {
    background: bottom center/100% url(../images/pattern-hills.svg) no-repeat;
  }
}

.header {
  padding: 0 30px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.header h1 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.timer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 20px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 4px;
}

.timer .item {
  width: 72px;
  height: 68px;
  color: #fb6087;
  top: 0;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.timer .item .inner {
  width: 72px;
  height: 68px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.timer .item .inner .front, .timer .item .inner .back {
  width: 72px;
  height: 68px;
  text-align: center;
  line-height: 68px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: linear-gradient(to bottom, #343650 0px, #343650 33px, #211D2B 34px, #211D2B 35px, #46425e 36px, #373350 68px);
  border-radius: 6px;
}

.timer .item .inner .front::before, .timer .item .inner .front::after, .timer .item .inner .back::before, .timer .item .inner .back::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #211D2B;
  display: block;
  position: absolute;
  z-index: 3;
  top: 31px;
  border-radius: 4px;
}

.timer .item .inner .front::before, .timer .item .inner .back::before {
  left: -4px;
}

.timer .item .inner .front::after, .timer .item .inner .back::after {
  right: -4px;
}

.timer .item .inner .front {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  z-index: 2;
}

.timer .item .inner .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.timer .item.flip {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 0 46px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 0 0 70px 0;
  }
}

.footer .social-links a {
  margin: 0 15px;
}

.footer .social-links a svg path {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.footer .social-links a:hover svg path {
  fill: #fb6087;
}
