@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:regular,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 700;
}

body {
  width: 100%;
  min-width: 375px;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Red Hat Text';
  background: url(../images/bg-stars.svg) center center no-repeat #1e1f29;
}

@media screen and (min-width: 800px) {
  body {
    background: url(../images/bg-stars.svg) center center/100% no-repeat #1e1f29;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: bottom center url(../images/pattern-hills.svg) no-repeat;
}

@media screen and (max-width: 375px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    background: bottom center/100% url(../images/pattern-hills.svg) no-repeat;
  }
}

.header {
  padding: 0 30px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.header h1 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .header {
    padding: 0 30px 50px 30px;
  }
  .header h1 {
    font-size: 26px;
  }
}

.timer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  width: 375px;
  padding: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 16px;
}

@media screen and (min-width: 800px) {
  .timer {
    grid-gap: 34px;
    width: 742px;
  }
}

.timer .item {
  width: 72px;
  height: 68px;
}

@media screen and (min-width: 800px) {
  .timer .item {
    width: 150px;
    height: 140px;
  }
}

.timer .item .inner {
  width: 72px;
  height: 68px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  position: relative;
}

@media screen and (min-width: 800px) {
  .timer .item .inner {
    width: 150px;
    height: 140px;
  }
}

.timer .item .inner .front, .timer .item .inner .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #34364F;
  border-radius: 6px;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .timer .item .inner .front, .timer .item .inner .back {
    border-radius: 8px;
  }
}

.timer .item .inner .front::before, .timer .item .inner .front::after, .timer .item .inner .back::before, .timer .item .inner .back::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #211D2B;
  display: block;
  position: absolute;
  z-index: 3;
  top: 31px;
  border-radius: 4px;
}

@media screen and (min-width: 800px) {
  .timer .item .inner .front::before, .timer .item .inner .front::after, .timer .item .inner .back::before, .timer .item .inner .back::after {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    top: 65px;
  }
}

.timer .item .inner .front::before, .timer .item .inner .back::before {
  left: -4px;
}

.timer .item .inner .front::after, .timer .item .inner .back::after {
  right: -4px;
}

.timer .item .inner .text {
  width: 100%;
  height: 100%;
  font-size: 36px;
  font-weight: 700;
  color: #fb6087;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  .timer .item .inner .text {
    width: 150px;
    height: 140px;
    font-size: 70px;
  }
}

.timer .item .inner .front {
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: 3;
}

.timer .item .inner .back {
  z-index: 1;
}

.timer .item .inner .middle {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
  background: #34364F;
  display: none;
}

.timer .item .inner .middle .text {
  height: 200%;
}

.timer .item .inner .middle .overlay {
  height: 100%;
}

.timer .item .inner .middle::before, .timer .item .inner .middle::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #211D2B;
  display: block;
  position: absolute;
  z-index: 3;
  top: 31px;
  border-radius: 4px;
}

@media screen and (min-width: 800px) {
  .timer .item .inner .middle::before, .timer .item .inner .middle::after {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    top: 65px;
  }
}

.timer .item .inner .middle::before {
  left: -4px;
}

.timer .item .inner .middle::after {
  right: -4px;
}

.timer .item.flip .inner .front {
  -webkit-animation: flip 0.6s linear;
          animation: flip 0.6s linear;
}

.timer .item.flip .inner .middle {
  display: block;
}

.timer__bottom {
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.timer__bottom div {
  width: 72px;
  font-size: 10px;
  color: #8486a9;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .timer__bottom {
    margin: -20px 0 0 0;
    gap: 34px;
  }
  .timer__bottom div {
    width: 150px;
    font-size: 14px;
    letter-spacing: 4px;
  }
}

.overlay {
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  49% {
    -webkit-transform: rotateX(-90deg) rotateZ(0);
            transform: rotateX(-90deg) rotateZ(0);
  }
  50% {
    -webkit-transform: rotateX(-90deg) rotateZ(-180deg) rotateY(-180deg);
            transform: rotateX(-90deg) rotateZ(-180deg) rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg) rotateZ(-180deg) rotateY(-180deg);
            transform: rotateX(-180deg) rotateZ(-180deg) rotateY(-180deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  49% {
    -webkit-transform: rotateX(-90deg) rotateZ(0);
            transform: rotateX(-90deg) rotateZ(0);
  }
  50% {
    -webkit-transform: rotateX(-90deg) rotateZ(-180deg) rotateY(-180deg);
            transform: rotateX(-90deg) rotateZ(-180deg) rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg) rotateZ(-180deg) rotateY(-180deg);
            transform: rotateX(-180deg) rotateZ(-180deg) rotateY(-180deg);
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 0 46px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 0 0 70px 0;
  }
}

.footer .social-links a {
  margin: 0 15px;
}

.footer .social-links a svg path {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.footer .social-links a:hover svg path {
  fill: #fb6087;
}
