$bottom-card: #34364F

$card-width: 72px
$card-height: 68px

$dtop-c-width: 150px
$dtop-c-height: 140px

.timer
    flex: 0 0 33.333%
    width: 375px
    padding: 19px
    display: flex
    flex-wrap: wrap
    align-items: center
    grid-gap: 16px
    @media screen and ( min-width: 800px )
        grid-gap: 34px
        width: 742px
    .item
        width: $card-width
        height: $card-height
        @media screen and ( min-width: 800px )
            width: $dtop-c-width
            height: $dtop-c-height
        .inner
            width: $card-width
            height: $card-height
            transform-style: preserve-3d
            perspective: 1200px
            position: relative
            @media screen and ( min-width: 800px )
                width: $dtop-c-width
                height: $dtop-c-height
            .front, .back
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
                background: $bottom-card
                border-radius: 6px
                overflow: hidden
                @media screen and ( min-width: 800px )
                    border-radius: 8px
                &::before, &::after
                    content: ''
                    width: 8px
                    height: 8px
                    background: #211D2B
                    display: block
                    position: absolute
                    z-index: 3
                    top: 31px
                    border-radius: 4px
                    @media screen and ( min-width: 800px )
                        width: 10px
                        height: 10px
                        border-radius: 5px
                        top: 65px
                &::before
                    left: -4px
                &::after
                    right: -4px
            .text
                width: 100%
                height: 100%
                font-size: 36px
                font-weight: 700
                color: hsl(345, 95%, 68%)
                display: flex
                justify-content: center
                align-items: center
                @media screen and ( min-width: 800px )
                    width: $dtop-c-width
                    height: $dtop-c-height
                    font-size: 70px
            .front
                transform-origin: center
                z-index: 3
            .back
                z-index: 1
            .middle
                width: 100%
                height: 50%
                position: absolute
                left: 0
                top: 0
                z-index: 2
                overflow: hidden
                border-radius: 6px 6px 0 0
                background: $bottom-card
                display: none
                .text
                    height: 200%
                .overlay
                    height: 100%
                &::before, &::after
                    content: ''
                    width: 8px
                    height: 8px
                    background: #211D2B
                    display: block
                    position: absolute
                    z-index: 3
                    top: 31px
                    border-radius: 4px
                    @media screen and ( min-width: 800px )
                        width: 10px
                        height: 10px
                        border-radius: 5px
                        top: 65px
                &::before
                    left: -4px
                &::after
                    right: -4px
        &.flip .inner .front
            animation: flip 0.6s linear
        &.flip .inner .middle
            display: block
    &__bottom
        height: 20px
        flex: 0 0 100%
        align-self: flex-start
        display: flex
        gap: 16px
        div
            width: $card-width
            font-size: 10px
            color: hsl(237, 18%, 59%)
            text-align: center
            text-transform: uppercase
        @media screen and ( min-width: 800px )
            margin: -20px 0 0 0
            gap: 34px
            div
                width: $dtop-c-width
                font-size: 14px
                letter-spacing: 4px
.overlay
    width: 100%
    height: 50%
    background: rgba(0, 0, 0, 0.3)
    position: absolute
    left: 0
    top: 0

@keyframes flip
    0%
        transform: rotateX(0)
    49% 
        transform: rotateX(-90deg) rotateZ(0)
    50%
        transform: rotateX(-90deg) rotateZ(-180deg) rotateY(-180deg)
    100%
        transform: rotateX(-180deg) rotateZ(-180deg) rotateY(-180deg)
        