$top-card: #2C2C44
$bottom-card: #34364F

$card-width: 72px
$card-height: 68px

$dtop-c-width: 150px
$dtop-c-height: 140px

.timer
    flex: 0 0 33.333%
    width: 375px
    padding: 19px
    display: flex
    flex-wrap: wrap
    align-items: center
    grid-gap: 16px
    @media screen and ( min-width: 800px )
        grid-gap: 34px
        width: 742px
    .item
        width: $card-width
        height: $card-height
        perspective: 1000
        transform-style: preserve-3d
        align-self: flex-end
        @media screen and ( min-width: 800px )
            width: $dtop-c-width
            height: $dtop-c-height
        .inner
            width: $card-width
            height: $card-height
            font-size: 36px
            font-weight: 700
            transform-style: preserve-3d
            position: relative
            @media screen and ( min-width: 800px )
                font-size: 70px
                width: $dtop-c-width
                height: $dtop-c-height
            .front, .back
                width: $card-width
                height: $card-height
                text-align: center
                line-height: $card-height
                position: absolute
                top: 0
                left: 0
                backface-visibility: hidden
                background: linear-gradient(to bottom, $top-card 0px, $top-card 34px, #211D2B 34px, #211D2B 35px, $bottom-card 36px, $bottom-card $card-height)
                border-radius: 6px
                @media screen and ( min-width: 800px )
                    width: $dtop-c-width
                    height: $dtop-c-height
                    line-height: $dtop-c-height
                    background: linear-gradient(to bottom, $top-card 0px, $top-card 70px, #211D2B 70px, #211D2B 71px, $bottom-card 71px, $bottom-card $dtop-c-height)
                    border-radius: 8px
                &::before, &::after
                    content: ''
                    width: 8px
                    height: 8px
                    background: #211D2B
                    display: block
                    position: absolute
                    z-index: 3
                    top: 31px
                    border-radius: 4px
                    @media screen and ( min-width: 800px )
                        width: 10px
                        height: 10px
                        border-radius: 5px
                        top: 65px
                &::before
                    left: -4px
                &::after
                    right: -4px
            .front
                transform: rotateX(0deg)
                z-index: 2
            .back
                transform: rotateX(-180deg)
        &.flip
            transition: 0.6s
            transform: rotateX(-180deg)
    &__bottom
        height: 20px
        flex: 0 0 100%
        align-self: flex-start
        display: flex
        gap: 16px
        div
            width: $card-width
            font-size: 10px
            color: hsl(237, 18%, 59%)
            text-align: center
            text-transform: uppercase
        @media screen and ( min-width: 800px )
            margin: -20px 0 0 0
            gap: 34px
            div
                width: $dtop-c-width
                font-size: 14px

$darken-red: #a84059
$soft-red: hsl(345, 95%, 68%)
.text
    width: $card-width
    height: $card-height
    background: linear-gradient(to bottom, $darken-red 0px, $darken-red 34px, #211D2B 34px, #211D2B 35px, $soft-red 35px, $soft-red 68px)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    @media screen and ( min-width: 800px )
        width: $dtop-c-width
        height: $dtop-c-height
        background: linear-gradient(to bottom, $darken-red 0px, $darken-red 70px, #211D2B 70px, #211D2B 71px, $soft-red 71px, $soft-red $dtop-c-height)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent